#projects a {
    color: #f1276a;
}


.skills a {
    color: #f1276a;
    font-size: 14px;

}

a {
        color: #f1276a;

}


.contact {
    font-size: 14px;
}
.learnMore a span {
    color: #f1276a;
    font-size: 17px;
}

#contact a {
            color: #999999;
}

.learnMore {
        color: #999999;
        font-size: 15px;
        

}
.learnMore h3 {
    margin-top: 10px;
  margin-bottom: 10px;
}
#projects div {
    color: #999999;
}

.skills {
        color: #999999;

}
#skills ul li {
              font-size: 16px;
              color: #999999;

}
.name {
                  color: #f1276a;

}