@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/app/index.css")
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-3">
                <img src="~/img/cZDgoyjC.jpg" style="border-radius: 50%" width="200" height="200" />
            </div>
            <div class="col-md-9">

                <h2 class="name">Kiley Dowling</h2>
                <a href="#skills" data-toggle="collapse" class="skills"><h4>Junior .NET Developer</h4></a>
                <div id="skills" class="collapse">
                    <ul>
                        <li><strong>Languages: </strong>C#/.NET, JavaScript, jQuery</li>
                        <li><strong>Web: </strong> ASP.NET MVC, HTML, CSS</li>
                        <li><strong>Database: </strong>ADO.NET, Dapper, Entity	Framework, SQL Server, T-SQL</li>
                        <li><strong>Programming: </strong> Agile Methodology, Object Oriented Programming, Unit Testing </li>

                    </ul>
                </div>
           </div>

     </div>
 </div>

<div class="projects">
    <div class="row">
        <div class="col-md-4">
            <a href="#guild" data-toggle="collapse"><h3>Guild Projects</h3></a>
            <div id="guild" class="collapse">

                <b>Technology Blog</b>
                August 2015
                <div>
                    Developed a content management system as an ASP.NET MVC Web Application. The Tech Blog allowed an administrator to create content contributor accounts as well as create and manage all content. Content included blog posts, static pages, and comments. The project incorporated TinyMCE to allow the administrator to create styled posts without having to write any HTML. Public users could view approved posts, sort posts by hashtag/category, and submit comments for approval.
                </div>

                <br />

                <b>HR Portal</b>
                July 2015
                <div>
                    Developed ASP.NET MVC web application according to specifications. The HR Portal allows users to view and manage documents, employees, and timesheets. Includes WebAPI and AngularJS
                </div>

                <br />
                <b> Flooring Mastery Project</b>
                June 2015
                <div>
                    Developed a fully functioning console application based on an nTier architecture according to specifications. The application allows for reading and writing flooring orders.
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <a href="#simple" data-toggle="collapse"><h3>Simple Programs</h3></a>
            <div id="simple" class="collapse">
                <div>
                    <p>
                        <b>Tic Tac Toe</b>
                        June 2015
                    </p>

                    <p>
                        <b>Vending Machine</b>
                        Spring 2015
                    </p>

                    <p>
                        <b>Program with 2 Features</b>
                        Spring 2015
                    </p>

                    <p>
                        <b>Encrypt and Decrypt Message</b>
                        Spring 2015
                    </p>

                    <p>
                        <b>Without Operators</b>
                        Spring 2015
                    </p>
                </div>
            </div>

        </div>

        <div class="col-md-4">

            <a href="#labs" data-toggle="collapse"><h3>Labs & Exercises</h3></a>
            <div id="labs" class="collapse">
                <div>
                    <p><b><a href="/Portfolio/JavaScriptLabs">JavaScript</a></b></p>
                    <p><b>C#</b></p>
                    <p><b>Coding Katas</b></p>
                </div>

            </div>
        </div>
    </div>
</div>


