@{
    ViewBag.Title = "Kiley Dowling";
}
@Styles.Render("~/Content/app/index.css")
<div class="jumbotron">
    <div class="row">
        <div class="col-md-3">
            <img src="~/img/cZDgoyjC.jpg" style="border-radius: 50%" width="240" height="240" />
        </div>
        <div class="col-md-9">
            <img src="~/img/kileydowling.jpg" width="305" />
            <h3 class="skills">Junior C#/.NET Developer </h3>
            <div id="skills">
                <ul>
                    <li><strong>Web: </strong> ASP.NET MVC, Bootstrap, CSS, HTML, JavaScript, jQuery, Razor, WebAPI</li>
                    <li><strong>Database: </strong>ADO.NET, Dapper, Entity	Framework, SQL Server, T-SQL</li>
                    <li><strong>Misc: </strong> Agile Methodology, Object Oriented Programming, Unit Testing </li>

                </ul>
            </div>
        </div>

        <div class="learnMore">
            <div class="col-md-2">

                <h3>
                    Projects <a href="#projects" data-toggle="collapse"><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></a>
                </h3>


            </div>
            <div class="col-md-2">
                <h3>
                    GitHub <a href="http://github.com/kileydowling" target="_blank"><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></a>
                </h3>
            </div>
            <div class="col-md-2">
                <h3>Resume  <a href="~/Resume/Dowling, Kiley Resume 2015.pdf" target="_blank"><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></a></h3>
            </div>

            <div class="col-md-3">
                <h3>Contact <a href="#contact" data-toggle="collapse"><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></a></h3>

                <address id="contact" class="collapse">
                    <a href="mailto:kileydowling@gmail.com"><strong>kileydowling@gmail.com</strong></a><br />
                    <a href="https://www.linkedin.com/in/kileydowling" target="_blank"><strong>LinkedIn</strong></a><br />
                </address>
            </div>
        </div>
    </div>


<div id="projects" class="collapse">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11">

        <div id="accordion">
            <h3><span class="projectName"><b>Guild Projects</b></span></h3>
            <div>
                <b>Technology Blog</b>
                August 2015 <a data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></a>

                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Tech Blog CMS</h4>
                                </div>
                                <div class="modal-body c-wrapper">
                                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                        <!-- Indicators -->
                                        <ol class="carousel-indicators">
                                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                            <li data-target="#myCarousel" data-slide-to="1"></li>
                                            <li data-target="#myCarousel" data-slide-to="2"></li>
                                            <li data-target="#myCarousel" data-slide-to="3"></li>
                                        </ol>

                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner" role="listbox">
                                            <div class="item active">

                                                @*<div style="background:url(/img/tbcms/TBCMS.jpg) center center;
                        background-size:cover;" class="slider-size"></div>*@
                                                <img src="~/img/tbcms/TBCMS.jpg">
                                            </div>

                                            <div class="item">

                                                @*<div style="background:url(/img/tbcms/DraftPost.jpg) center center;
                        background-size:cover;" class="slider-size"></div>*@
                                                <img src="~/img/tbcms/DraftPost.jpg">

                                            </div>

                                            <div class="item">

                                                @*<div style="background:url(/img/tbcms/PendingApprovals.jpg) center center;
                        background-size:cover;" class="slider-size"></div>*@
                                                <img src="~/img/tbcms/Pending.jpg">

                                            </div>

                                            <div class="item">

                                                @*<div style="background:url(/img/tbcms/Comments.jpg) center center;
                        background-size:cover;" class="slider-size"></div>*@
                                                <img src="~/img/tbcms/Comments.jpg">

                                            </div>
                                        </div>

                                        @*Left and right controls *@
                                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>


                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>


      <p> Developed a content management system as an ASP.NET MVC Web Application. The application was designed using an n-tier architecture with unit testing. It includes ASP.NET Identity and accesses a SQL Server database.</p>
                <p>The application allows an administrator to create content contributor accounts as well as create and manage all content. Content included blog posts, static pages, and comments. The project incorporated TinyMCE to allow the administrator to create styled posts without having to write any HTML. Public users can view approved posts, sort posts by hashtag/category, and submit comments for approval.</p>
                <br />

                <b>Human Resources Portal</b>
                July 2015

                <p>Developed ASP.NET MVC n-tier web application according to specifications. The Human Resource Portal allows users to view and manage documents, departments, employees, and timesheets/PTO requests. Includes WebAPI and AngularJS, and accessed a SQL Server database.</p>

                <br />
                <b> Flooring Order System</b>
                June 2015
                <p>
                    Developed a fully functioning console application based on an n-tier architecture according to specifications. The application allows for reading and writing flooring orders.
                </p>

            </div>

            <h3><span class="projectName"><b>Simple Programs</b></span></h3>
            <div>
                <p>
                    <b>Tic Tac Toe </b>
                    June 2015 <a data-toggle="modal" data-target="#myModal-2"><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></a>

                    <div id="myModal-2" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Tic Tac Toe</h4>
                                </div>
                                <div class="modal-body t-wrapper">
                                    <div id="myCarousel-2" class="carousel slide" data-ride="carousel">
                                        <!-- Indicators -->
                                        <ol class="carousel-indicators">
                                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                            <li data-target="#myCarousel" data-slide-to="1"></li>
                                            <li data-target="#myCarousel" data-slide-to="2"></li>
                                        </ol>

                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner" role="listbox">
                                            <div class="item active">

                                                @*<div style="background:url(/img/ttt/Enteraspace.jpg) center center;
                        background-size:cover;" class="slider-ttt-size"></div>*@

                                                <img src="~/img/ttt/Enteraspace.jpg" />

                                            </div>

                                            <div class="item">

                                                @*<div style="background:url(/img/ttt/Enteraspace2.jpg) center center;
                        background-size:cover;" class="slider-ttt-size"></div>*@
                                                <img src="~/img/ttt/Enteraspace2.jpg" />

                                            </div>

                                            <div class="item">

                                                @*<div style="background:url(/img/ttt/win.jpg) center center;
                        background-size:cover;" class="slider-ttt-size"></div>*@
                                                <img src="~/img/ttt/win.jpg" />

                                            </div>


                                        </div>

                                        @*Left and right controls *@
                                        <a class="left carousel-control" href="#myCarousel-2" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#myCarousel-2" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </p>

                <p>
                    <b>Vending Machine</b>
                    Spring 2015
                </p>

                <p>
                    <b>Program with 2 Features</b>
                    Spring 2015
                </p>

                <p>
                    <b>Encrypt and Decrypt Message</b>
                    Spring 2015
                </p>

                <p>
                    <b>Without Operators</b>
                    Spring 2015
                </p>
            </div>
            <h3><span class="projectName"><b>Labs & Exercises</b></span></h3>
            <div>
                <p><b>C#</b></p>
                <p><b>Coding Katas</b></p>
                <p><b>JavaScript <a href="/Portfolio/JavaScriptLabs"><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></a></b></p>
                <p><b>LINQ</b></p>
            </div>


        </div>
    </div>
</div>
   </div>

</div>


<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">


@section scripts {
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $('#accordion').accordion({
                heightStyle: "content",
                collapsible: true,
                active: false,
                icons: false
            });
        }
);
    </script>
   
   
}
