/*.slider-ttt-size {
    height: 395px; /* This is your slider height
margin: auto;
}*/
.carousel-control {
    left: -30px;
}
div .c-wrapper{
    width: 100%; 
    margin: auto;
}


div .t-wrapper{
    width: 100%;
    margin: auto;
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
width: 85%; /* use this, or not */
margin: auto;
}

.carousel-indicators li {

display: none;
}

/*.slider-size {
height: 420px; /* This is your slider height 
margin: auto;
}*/

.carousel {
width:100%; 
margin:0 auto; /* center your carousel if other than 100% */ 
}

a span {
    color: #f1276a;
}


.skills a {
    color: #f1276a;
    font-size: 14px;

}

a {
        color: #f1276a;

}

.contact {
    font-size: 14px;
}
.learnMore a span {
    color: #f1276a;
    font-size: 17px;
}

#contact a {
            color: #999999;
}

.learnMore {
        color: #676262;
        font-size: 15px;
        

}
.learnMore h3 {
    margin-top: 10px;
  margin-bottom: 10px;
}
#projects div {
    color: #999999;
    font-size: 15px;
}



.skills {
        color: #676262;

}
#skills ul li {
              font-size: 16px;
              color: #999999;

}
.name {
                  color: #f1276a;

}

.projectName {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #f1276a;

}